#about{
    background-color: #728959;
}
.about__grid{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   column-gap: 3rem;
}
.about__img-wrapper{
    position: relative;
    box-shadow: 20px 30px white;
}

.about__content{
    text-align: center;
    margin-top: 5vh;
}
.about__details{
    margin-block:1.25rem 2.25rem ;
}
.about__details-description{
    display: flex;
    align-items: center;
}
.about__details,
.about__details-description{
    gap: 0.625rem;
}
@media screen and (max-width: 1200px){
    .about__img-wrapper{
        box-shadow: 8px 10px white;
    }
}