
.section__tittle{
    text-align: center;
}
.containe{
    max-width:100%;
    padding: 4rem 1rem;
    margin: 0 auto;
}
.swiper_container{
    height: 42rem;
    padding: 2rem 0;
    position: relative;
}
.swiper{
    padding: none;
}
.swiper-slide{
    width: 42rem ;
    height: fit-content ;
    position: relative;
}

@media (max-width: 500px){
    .swiper_container{
        height: 47rem;
    }
    .swiper-slide{
        width: 42rem;
        height: 36rem;
    }
    .swiper-slide img{
        width: 28rem;
        height: 36rem;
    }
  
}
.swiper-slide img{
    width:42rem;
    height: 42rem;
    border-radius: 2rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    object-fit: cover;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: block;
}
    .slider-controler .slider-arrow{
        color:#ffff ;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        filter:  drop-shadow(0px 8px 24px  rgba(213, 220, 236, 0.1));
    }
    .swiper-pagination{
        position: relative;
        width: 15rem ;
        bottom: 1rem;
    }
   
    .swiper-pagination .swiper-pagination-bullet{
        filter: drop-shadow(0px 8px 24px rgba(238, 239, 243, 0.5)  );
    } 
    .swiper-pagination-bullet-active{
        background-color: #ffff !important;
    }